/**
 * Feed.
 */
.portfolio-feed-header {
	--border-height: 82px;

	box-sizing: content-box;
	margin: 0 auto calc(var(--wp--custom--semantic--spacing--fluid-viewport-px--60) + var(--wp--custom--semantic--spacing--fluid-viewport-px--60) + var(--border-height));
	max-width: var(--wp--style--global--wide-size);
	padding-left: var(--wp--style--root--padding-left);
	padding-right: var(--wp--style--root--padding-right);
}

@media screen and (max-width: 60rem) {
	.portfolio-feed-header {
		--border-height: 41px;
	}
}

.portfolio-feed-header::after {
	background-image: 
		url('images/pattern-svg-inverse-flatpill-tall.png'),
		linear-gradient(90deg, var(--wp--custom--primitives--color--brand-regal-blue) 0%, var(--wp--custom--primitives--color--brand-rose-taupe) 100%);
	background-position: top right;
	background-size: contain;
	content: '';
	display: block;
	height: var(--border-height);
	left: 0;
	position: absolute;
	margin-top: calc(var(--border-height) * -1);
	right: 0;
}

.portfolio-feed-header h1 {
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(140deg, var(--wp--custom--primitives--color--brand-regal-blue) 0%, var(--wp--custom--primitives--color--brand-rose-taupe));
	-webkit-text-fill-color: transparent;
	color: currentColor;
	display: inline-block;
	margin: calc(var(--wp--custom--semantic--spacing--fluid-viewport-px--70) - var(--wp--style--root--padding-top)) 0 -.2em;
	padding-bottom: .2em;
}

.portfolio-feed-header p {
	box-sizing: content-box;
	font-family: var(--wp--custom--semantic--typography--body-medium--font-family);
	font-size: var(--wp--custom--semantic--typography--body-medium--font-size);
	font-style: var(--wp--custom--semantic--typography--body-medium--font-style);
	font-weight: var(--wp--custom--semantic--typography--body-medium--font-weight);
	line-height: var(--wp--custom--semantic--typography--body-medium--line-height);
	margin-bottom: calc(var(--wp--custom--semantic--spacing--fluid-viewport-px--60) + var(--border-height));
	margin-top: calc(var(--wp--custom--semantic--spacing--fluid-viewport-px--55));
	max-width: var(--wp--style--global--content-size);
	padding-left: var(--wp--custom--semantic--spacing--fluid-viewport-px--60);
}

.portfolio-feed {
	--columns: 2;
	box-sizing: content-box;
	display: grid;
	gap: var(--wp--style--block-gap);
	grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
	margin: 0 auto var(--wp--custom--semantic--spacing--fluid-viewport-px--70);
	max-width: var(--wp--style--global--wide-size);
	padding-left: var(--wp--style--root--padding-left);
	padding-right: var(--wp--style--root--padding-right);
}

@media screen and (max-width: 60rem) {
	.portfolio-feed {
		--columns: 2;
	}
}

@media screen and (max-width: 43.75rem) {
	.portfolio-feed {
		--columns: 1
	}
}

/**
 * Item/single.
 */
.portfolio-header {
	align-items: center;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: var(--wp--custom--semantic--spacing--fluid-viewport-px--60) var(--wp--style--root--padding-right) var(--wp--custom--semantic--spacing--fluid-viewport-px--60) var(--wp--style--root--padding-left);
	color: var(--wp--custom--semantic--color--text-alternate-1);
	margin-bottom: var(--wp--custom--semantic--spacing--fluid-viewport-px--60);
	padding-bottom: 0;
}

.portfolio-title-wrap {
	max-width: var(--wp--style--global--wide-size);
	width: 100%;
}

.portfolio-title {
	margin-bottom: 0;
}

.portfolio-meta-wrap {
	display: flex;
	flex-direction: column;
	font-family: var(--wp--custom--semantic--typography--body-large--font-family);
	font-size: var(--wp--custom--semantic--typography--body-large--font-size);
	font-style: var(--wp--custom--semantic--typography--body-large--font-style);
	font-weight: var(--wp--custom--semantic--typography--body-large--font-weight);
	gap: var(--wp--custom--semantic--spacing--fluid-viewport-px--20);
	line-height: var(--wp--custom--semantic--typography--body-large--line-height);
	margin-top: var(--wp--custom--semantic--spacing--fluid-viewport-px--55);
	max-width: var(--wp--style--global--wide-size);
	padding-left: var(--wp--custom--semantic--spacing--fluid-viewport-px--55);
	padding-right: var(--wp--custom--semantic--spacing--fluid-viewport-px--80);
	width: 100%;
}

.portfolio-client {
	max-width: var(--wp--style--global--content-size);
}

.portfolio-featured-image {
	--meta-line-height: calc(var(--wp--custom--semantic--typography--default--font-size) * var(--wp--custom--semantic--typography--default--line-height));
	
	margin-top: calc((var(--wp--custom--semantic--spacing--fluid-viewport-px--55) + var(--meta-line-height)) * -1);
	width: calc(100% + var(--wp--style--root--padding-left) + var(--wp--style--root--padding-right));
	z-index: 1;
}

.portfolio-featured-image-mask {
	overflow-x: hidden;
}

.portfolio-featured-image-spacer {
	aspect-ratio: 1370 / 338;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	width: clamp(375px, 104%, 1370px);
}

.portfolio-featured-image-image {
	display: block;
	height: 100%;
	margin-left: auto;
	width: auto;
}

@media screen and (max-width: 767px) {
	.portfolio-meta-wrap {
		padding-right: var(--wp--custom--semantic--spacing--fluid-viewport-px--55);
	}

	.portfolio-featured-image {
		margin-top: var(--wp--custom--semantic--spacing--fluid-viewport-px--40);
	}

	.portfolio-featured-image-spacer {
		aspect-ratio: auto;
		height: 200px;
	}
}

.portfolio-body {
	padding-right: var(--wp--style--root--padding-right);
	padding-left: var(--wp--style--root--padding-left);
}

/**
 * Preamble.
 */
.portfolio-preamble {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--wp--custom--semantic--spacing--fluid-viewport-px--60);
	margin-block-end: var(--wp--custom--semantic--spacing--fluid-viewport-px--60);
	margin-left: auto;
	margin-right: auto;
	max-width: var(--wp--style--global--wide-size);
}

.portfolio-preamble-item:last-child {
	grid-column-end: span 2;
	padding-left: var(--wp--custom--semantic--spacing--fluid-viewport-px--55);
}

.portfolio-preamble-item:last-child > * {
	max-width: var(--wp--style--global--content-size);
}

.portfolio-preamble-item {
	display: flex;
	flex-direction: column;
	gap: var(--wp--custom--semantic--spacing--fluid-viewport-px--30);
}

.portfolio-preamble-item-header {
	color: var(--wp--custom--semantic--color--text-tertiary);
	margin: 0;
}

.portfolio-preamble-item-body {
	margin: 0;
}

@media screen and (max-width: 37.5rem) {
	.portfolio-preamble {
		display: flex;
		flex-direction: column;
	}

	.portfolio-preamble-item:last-child {
		padding-left: 0;
	}
}

/**
 * Content.
 */
.portfolio-content {
	display: flex;
	flex-direction: column;
	gap: var(--wp--custom--semantic--spacing--fluid-viewport-px--70);
	align-items: center;
}

/**
 * Module: Callout.
 */
.portfolio-callout {
	display: flex;
	gap: var(--wp--custom--semantic--spacing--fluid-viewport-px--50);
	max-width: var(--wp--style--global--wide-size);
	flex-wrap: nowrap;
}

.portfolio-callout-headline-wrap,
.portfolio-callout-content-wrap {
	flex-grow: 0;
}

.portfolio-callout-headline-wrap {
	flex-basis: 40%;
}

.portfolio-callout-headline {
	color: var(--wp--custom--primitives--color--brand-regal-blue);
	margin-block-start: 0;
	margin-block-end: 0;
}

.portfolio-callout-content-wrap > *:first-child {
	margin-block-start: 0;
}

.portfolio-callout-content-wrap > *:last-child {
	margin-block-end: 0;
}

.portfolio-callout-content-wrap {
	flex-basis: 60%;
}

@media screen and (max-width: 781px) {
	.portfolio-callout {
		flex-wrap: wrap;
	}

	.portfolio-callout-headline-wrap,
	.portfolio-callout-content-wrap {
		flex-basis: 100%;
	}
}

/**
 * Module: Image.
 */
.portfolio-image {
	display: block;
	margin: 0;
	max-width: var(--wp--style--global--wide-size);
	width: 100%;
}

.portfolio-image-image {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}

.portfolio-image-caption {
	margin: .5em auto 1em;
	max-width: var(--wp--style--global--content-size);
}

/**
 * Module: Two images in two columns.
 */
.portfolio-images-2col-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: var(--wp--style--block-gap);
	margin: 0;
	max-width: var(--wp--style--global--wide-size);
	width: 100%;
}

.portfolio-images-2col {
	flex: 1;
	margin: 0;
	min-width: 20.3125rem;
}

.portfolio-images-2col-image {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}

.portfolio-images-2col-caption {
	margin: .5em auto 1em;
	max-width: var(--wp--style--global--content-size);
}
