/**
 * Simple password-gate.
 */
html.simple-password-gate main {
	display: none;
}

section.simple-password-gate {
	padding:
		var(--wp--custom--semantic--spacing--fluid-viewport-px--60)
		var(--wp--style--root--padding-right)
		var(--wp--custom--semantic--spacing--fluid-viewport-px--60)
		var(--wp--style--root--padding-left);
}

section.simple-password-gate .wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--wp--style--global--wide-size);
}

section.simple-password-gate h1 {
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(140deg, var(--wp--custom--primitives--color--brand-regal-blue) 0%, var(--wp--custom--primitives--color--brand-rose-taupe));
	-webkit-text-fill-color: transparent;
	color: currentColor;
	margin-bottom: -.2em;
	padding-bottom: .2em;
}

section.simple-password-gate #pw-desc {
	box-sizing: content-box;
	font-family: var(--wp--custom--semantic--typography--body-medium--font-family);
	font-size: var(--wp--custom--semantic--typography--body-medium--font-size);
	font-style: var(--wp--custom--semantic--typography--body-medium--font-style);
	font-weight: var(--wp--custom--semantic--typography--body-medium--font-weight);
	line-height: var(--wp--custom--semantic--typography--body-medium--line-height);
	margin-bottom: calc(var(--wp--custom--semantic--spacing--fluid-viewport-px--60) + var(--border-height));
	margin-top: calc(var(--wp--custom--semantic--spacing--fluid-viewport-px--55));
	max-width: var(--wp--style--global--content-size);
	padding-left: var(--wp--custom--semantic--spacing--fluid-viewport-px--60);
}

section.simple-password-gate #pw-form {
	align-items: flex-start;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	gap: var(--wp--custom--semantic--spacing--fluid-viewport-px--30);
	margin-top: var(--wp--custom--semantic--spacing--fluid-viewport-px--50);
	max-width: var(--wp--style--global--content-size);
	padding-left: var(--wp--custom--semantic--spacing--fluid-viewport-px--60);
}

section.simple-password-gate #pw-error {
	color: var(--wp--custom--semantic--color--text-tertiary);
	margin: 0;
}

section.simple-password-gate #pw-form button[type="submit"] {
	margin-top: var(--wp--custom--semantic--spacing--fluid-viewport-px--40);
}

@media screen and (max-width: 43.75rem) {
	section.simple-password-gate #pw-form {
		padding-left: 0;
	}
}